.top-bar {
    background-color: rgb(0, 177, 0);
    color: white;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 5px 4px rgb(128, 128, 128);;
}

.top-bar-logo {
    margin: 10px;
}

.top-bar-header {
    font-size: 1.8em;
    font-weight: bold;
    margin-left: 25px;
    align-self: center;
}